@media(max-width:800px){
  header .logo img{
    margin: auto;
    display: block;
  }
  header ul{
    margin: 0px;
    padding: 0px;
  }
  header ul li{
    display: block!important;
    text-align: center;
    margin: auto;
    padding: auto;
    padding: 0px;
    background-color: #fff;
    text-align: center;
     background:rgba(255,255,255,.5);
  }
  header ul li a{
    display: block;
    color:#000!important;
    margin:auto!important;
    padding-top: 5px !important;
    margin-top: 5px!important;
    padding-bottom: 5px !important
      
  }
  header nav{
    display: block!important;
    width: 300px;
    margin: 20px;
  }
}
